<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.RUN_USER_INITIATED_JOBS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <service
            android:name=".TransferForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".UserInitiatedTransferJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:targetApi="34" />
        <receiver
            android:name=".TransferActionReceiver"
            android:exported="false" />
        <receiver
            android:name=".TransferBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
